@import '../../constants/variables';

.ContactSection {
    z-index: 1;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    h3 {
        text-align: center;
    }

    .ContactSection-Content {
        position: relative;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContactSection-Success {
            opacity: 0;
            margin-bottom: 30%;
            font-size: 24px;
            transition: opacity 1s;
            transition-delay: 2.5s;
        }

        .ContactSection-LetterWrap {
            position: absolute;
            top: 0;
            height: 100%;
            width: 600px;
            max-width: 85%;
            padding-bottom: 42px;
            box-sizing: border-box;
            transition: transform 1s;
            transition-delay: 2s;
            overflow: hidden;

            .ContactSection-EnvelopeTop {
                position: absolute;
                width: 100%;
                max-height: 30%;
                top: 25%;
                z-index: 2;
            }

            .ContactSection-LetterTop,
            .ContactSection-LetterBottom {
                position: absolute;
                opacity: 0;
            }

            .ContactSection-LetterPaper {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                padding: 24px;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 2;
                transition: transform 1s ease-in;

                button {
                    align-self: flex-end;
                }

                input, textarea {
                    margin-bottom: 24px;
                    color: $black;
                    outline: none;
                }

                input, textarea {
                    padding: 8px;
                    border: 2px solid $black;
                    transition: border-color 300ms;
                    border-radius: 0;
                    background: transparent;
                }

                input {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    width: calc(72.3% - 24px);
                }

                input:focus,
                textarea:focus {
                    border-color: $blue;
                }

                textarea {
                    flex: 1 1 100%;
                    resize: none;
                }

                button {
                    background: $blue;
                    color: $black;
                    padding: 8px 16px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    flex: none;
                    transition: background 300ms;
                }

                button:hover,
                button:focus {
                    background: $lightBlue;
                }
            }

            .ContactSection-EnvelopeTop,
            .main,
            .mainBg {
                transform: translate3d(0, 100vh, 0);
                transition: transform 1s ease-in;
            }

            .main {
                position: absolute;
                top: 25%;
                max-height: 60%;
                width: 100%;
                z-index: 3;

                .cls-1 {
                    fill: #6965a8;
                }

                .cls-2 {
                    fill: #9090dd;
                }

                .cls-3 {
                    fill: #4c4c8c;
                }
            }

            .mainBg {
                position: absolute;
                top: 25%;
                max-height: 60%;
                width: 100%;
                z-index: 1;

                .cls-1 {
                    fill: #4c5254;
                }

                .cls-2 {
                    fill: #2f423f;
                }
            }

            .topOpen,
            .topClosed {
                backface-visibility: hidden;
                transition: transform 1s;
                transform-style: preserve-3d;
                transition-delay: 1s;
            }

            .topOpen {
                z-index: 1;
                transform: translate3d(0, -100%, 0);
                transform-origin: bottom;

                .cls-1 {
                    fill: #4c5254;
                }

                .cls-2 {
                    fill: #2f423f;
                }
            }

            .topClosed {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transform: rotate3d(1, 0, 0, 180deg);
                transform-origin: top;
                z-index: 3;

                .cls-1 {
                    fill: #4c4c8c;
                }
            }

            .paper {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;

                .cls-1 {
                    fill: #eaeaea;
                }

                .cls-2 {
                    fill: #d6d6d6;
                }

                .cls-3 {
                    fill: #a8a8a8;
                }

                .cls-4 {
                    fill: $white;
                }
            }
        }
    }

    &.closed {
        .ContactSection-LetterPaper {
            transform: translate3d(0, calc(100% + 50px), 0);
        }

        .ContactSection-Success {
            opacity: 1;
        }

        .ContactSection-LetterWrap {
            transform: scale3d(0.3, 0.3, 1);
        }

        .ContactSection-Content .ContactSection-LetterWrap {
            .main,
            .mainBg,
            .ContactSection-EnvelopeTop {
                transform: translate3d(0, 0, 0);
            }

            .topOpen {
                transform: translate3d(0, -100%, 0) rotate3d(1, 0, 0, 180deg);
            }
            .topClosed {
                transform: rotate3d(1, 0, 0, 0deg);
            }
        }
    }
}