@import '../../constants/variables';
@import '../../utils/mixins';

$envelopeMainColor: $blue;
$envelopeLightColor: $lightBlue;
$envelopeDarkColor: $darkBlue;

.ContactSection {
    z-index: 1;
    @include flexbox();
    @include flex-direction(column);
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    h3 {
        text-align: center;
    }

    .ContactSection-Error {
        text-align: center;
        font-size: 24px;

        &::before {
            content: '✖ ';
            color: $brightRed;
        }
    }

    .ContactSection-Content {
        position: relative;
        @include flex(1 1 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        overflow: hidden;

        .ContactSection-Success {
            opacity: 0;
            margin-bottom: 30%;
            padding: 0 12px;
            font-size: 24px;
            @include transition(opacity 500ms ease-in);
            @include transition-delay(2s);
            text-align: center;
        }

        .ContactSection-LetterWrap {
            position: absolute;
            top: 0;
            height: 100%;
            width: 600px;
            max-width: 85%;
            padding-bottom: 42px;
            box-sizing: border-box;
            @include transitionTransform(1s);
            @include transition-delay(2s);
            overflow: hidden;

            .ContactSection-EnvelopeTop {
                position: absolute;
                width: 100%;
                max-height: 30%;
                top: 25%;
                z-index: 2;
            }

            .ContactSection-LetterTop,
            .ContactSection-LetterBottom {
                position: absolute;
                opacity: 0;
            }

            .ContactSection-LetterPaper {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                padding: 24px;
                @include flexbox();
                @include flex-direction(column);
                position: relative;
                z-index: 2;
                @include transitionTransform(600ms ease-in);
                @include transition-delay(300ms);

                button {
                    @include align-self(flex-end);
                }

                input {
                    width: calc(72.3% - 24px);
                }

                textarea {
                    @include flex(1 1 100%);
                }

                button {
                    @include flex(none);
                }
            }

            .ContactSection-EnvelopeTop,
            .main,
            .mainBg {
                @include transform(translate3d(0, 100vh, 0));
                @include transitionTransform(1.5s ease-out);
            }

            .main {
                position: absolute;
                top: 25%;
                max-height: 60%;
                width: 100%;
                z-index: 3;

                .cls-1 {
                    fill: $envelopeMainColor;
                }

                .cls-2 {
                    fill: $envelopeLightColor;
                }

                .cls-3 {
                    fill: $envelopeDarkColor;
                }
            }

            .mainBg {
                position: absolute;
                top: 25%;
                max-height: 60%;
                width: 100%;
                z-index: 1;

                .cls-1 {
                    fill: #4c5254;
                }

                .cls-2 {
                    fill: #2f423f;
                }
            }

            .topOpen,
            .topClosed {
                @include backface-visibility(hidden);
                @include transitionTransform(1s);
                @include transform-style(preserve-3d);
                @include transition-delay(1s);
            }

            .topOpen {
                z-index: 1;
                @include transform(translate3d(0, -100%, 0));
                @include transform-origin(bottom);

                .cls-1 {
                    fill: #4c5254;
                }

                .cls-2 {
                    fill: #2f423f;
                }
            }

            .topClosed {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include transform(rotate3d(1, 0, 0, 180deg));
                @include transform-origin(top);
                z-index: 3;

                .cls-1 {
                    fill: $envelopeDarkColor;
                }
            }

            .paper {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;

                .cls-1 {
                    fill: #eaeaea;
                }

                .cls-2 {
                    fill: #d6d6d6;
                }

                .cls-3 {
                    fill: #a8a8a8;
                }

                .cls-4 {
                    fill: $white;
                }
            }
        }
    }

    &.closed {
        .ContactSection-LetterPaper {
            @include transform(translate3d(0, calc(100% + 50px), 0));
        }

        &.success {
            .ContactSection-Success {
                opacity: 1;
            }
        }

        .ContactSection-LetterWrap {
            @include transform(scale3d(0.3, 0.3, 1));
        }

        .ContactSection-Content .ContactSection-LetterWrap {
            .main,
            .mainBg,
            .ContactSection-EnvelopeTop {
                @include transform(translate3d(0, 0, 0));
            }

            .topOpen {
                @include transform(translate3d(0, -100%, 0) rotate3d(1, 0, 0, 180deg));
            }
            .topClosed {
                @include transform(rotate3d(1, 0, 0, 0deg));
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .ContactSection {
        .ContactSection-Content {
            .ContactSection-Success {
                margin-bottom: 60%;
            }

            .ContactSection-LetterWrap .ContactSection-LetterPaper {
                @include transitionTransform(450ms ease-in);
                @include transition-delay(250ms);
            }
        }

        .ContactSection-Error::before {
            content: '✕ ';
        }
    }
}

@media only screen and (max-height: 420px) {
    .ContactSection .ContactSection-Content .ContactSection-LetterWrap {
        .ContactSection-EnvelopeTop,
        .main,
        .mainBg {
            @include transform(translate3d(0, 120vh, 0));
        }
    }
}

@media only screen and (min-width: 1920px) {
    .ContactSection .ContactSection-Content .ContactSection-LetterWrap {
        width: 800px;
    }
    .ContactSection .ContactSection-Content .ContactSection-LetterWrap .ContactSection-LetterPaper {
        padding: 32px;
    }
}

@include keyframes(error) {
    0%, 100% {
        @include transform(translate3d(0, 0, 0));
    }
    10%, 30%, 50%, 70%, 90% {
        @include transform(translate3d(-6px, 0, 0));
    }
    20%, 40%, 60%, 80% {
        @include transform(translate3d(6px, 0, 0));
    }
}