@import '../../utils/mixins';

.PageNotFound {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 100vh;

    .PageNotFound-ErrorCode {
        font-size: 130px;
        line-height: 80px;
    }

    .PageNotFound-Text {
        margin: 24px;
        text-align: center;
    }
}