@import '../../constants/variables';
@import '../../utils/mixins';

.NavItem {
    text-decoration: none;
    @include transition(background 300ms);

    &, &:active, &:visited {
        color: $black;
    }

    &:hover,
    &.active {
        background: $lightBlue;
    }
}