@import '../../constants/variables';

.NavItem {
    text-decoration: none;
    transition: background 300ms;

    &, &:active, &:visited {
        color: $black;
    }

    &:hover,
    &.active {
        background: $lightBlue;
    }
}