@import '../../constants/variables';
@import '../../utils/mixins';

.Chevron {
    position: relative;
    width: 44px;
    height: 12px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 24px;
        height: 2px;
        background: $black;
        border-radius: 2px;
    }

    &::before {
        @include transform(rotate3d(0, 0, 1, 25deg) translate3d(-48%, 0, 0));
    }

    &::after {
        @include transform(rotate3d(0, 0, 1, -25deg) translate3d(48%, 0, 0));
    }
}