@import '../../constants/variables';

.AboutMeSection {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .FakePopup {
        margin-top: -20%;

        .FakePopup-Body {
            display: flex;
            flex: 1 1 100%;
            padding: 16px;

            .Logo {
                flex: 0 0 20%;
                margin-right: 16px;
            }

            p {
                margin: 0;
            }
        }
    }

    .Character {
        margin-top: 20%;
    }
}