@import '../../utils/mixins';

.AboutMeSection {
    z-index: 1;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);

    .FakePopup {
        margin-top: -20%;

        .FakePopup-Body {
            @include flexbox();
            @include flex(1 1 100%);
            padding: 16px;

            .Logo {
                height: auto;
                @include align-self(flex-start);
                @include flex(0 0 80px);
                margin-right: 16px;
            }

            p {
                margin: 0;
                text-align: justify;
            }
        }
    }

    .Character {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 750px) {
    .AboutMeSection {
        @include flex-direction(column-reverse);

        .Character {
            margin-top: 0;
            width: 30%;
            @include align-self(flex-end);
        }

        .FakePopup {
            position: relative;
            width: 100%;
            margin-top: -22%;
            z-index: 1;

            .FakePopup-Body {
                display: block;
                font-size: 16px;
                line-height: 20px;

                .Logo {
                    float: left;
                    width: 48px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .AboutMeSection {
        .Character {
            width: 240px;
            margin-top: 15%;
        }

        .FakePopup {
            max-width: 700px;
            margin-top: -15%;

            .FakePopup-Body {
                padding: 24px;

                .Logo {
                    @include flex(0 0 110px);
                    margin-right: 24px;
                }
            }
        }
    }
}