@import '../../constants/variables';

.CodeBackground {
    width: 100vw;
    height: 100vh;
    font-family: 'Anonymous Pro', monospace;
    white-space: pre;
    background: $darkGray;
    color: #A9B7C6;

    .CodeBackground-PaddingWrap {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 20px;
    }

    .keyWord {
        font-weight: bold;
        color: #CC7832;
    }

    .quoted {
        color: #6A8759;
    }

    .comment {
        color: #808080;
    }

    .htmlTag {
        color: #FFC66D;
    }
}