@import '../../constants/variables';

.CodeBackground {
    width: 100vw;
    height: 100vh;
    font-family: 'Anonymous Pro', monospace;
    white-space: pre;

    .CodeBackground-PaddingWrap {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 20px;
    }

    .keyWord {
        font-weight: bold;
    }

    &.dark {
        background: $darkGray;
        color: #A9B7C6;

        .keyWord {
            color: #CC7832;
        }
    }

    &.light {
        background: $white;
        color: $black;

        .keyWord {
            color: #000080;
        }
    }
}