@import '../../constants/variables';
@import '../../utils/mixins';

.Logo {
    height: 90px;

    .cls-1 {
        fill: $blue;
        @include transition(fill 300ms);
    }

    &.interactive:hover {
        cursor: pointer;
        .cls-1 {
            fill: $lightBlue;
        }
    }

    .cls-2, .cls-3 {
        fill: none;
        stroke: $black;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .cls-2 {
        stroke-width: 20px;
    }

    .cls-3 {
        stroke-width: 50px;
    }
}

@media only screen and (min-width: 1920px) {
    .Logo {
        height: 120px;
    }
}