.CopyrightText {
    font-size: 14px;
    opacity: 0.3;
    margin-top: 24px;
    margin-bottom: 0;
}

@media only screen and (min-width: 1920px) {
    .CopyrightText {
        font-size: 18px;
        margin-top: 32px;
    }
}