@import '../../constants/variables';
@import '../../utils/mixins';

.FooterLinks {
    @include flexbox();

    a {
        @include flexbox();
        margin: 0 12px;

        svg {
            fill: $blue;
            @include transition(fill 300ms);

            &:hover {
                fill: $darkBlue;
            }
        }
    }
}