@import '../../constants/variables';
@import '../../utils/mixins';

.Header {
    position: fixed;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: $blue;
    border-bottom: 2px solid $black;
    @include transitionTransform(500ms);

    &.closed {
        @include transform(translate3d(0, -100%, 0));


        .Logo {
            @include transform(translate3d(0, 2px, 0) scale3d(0.9, 0.9, 1));

            &:hover {
                @include transform(scale3d(1, 1, 1));
            }
        }
    }

    .Logo {
        top: calc(100% - 44px);
        @include transitionTransform(500ms);
        position: absolute;
    }

    .Header-Overlap {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .Header {
        height: auto;
        padding-bottom: 44px;
        @include justify-content(flex-start);

        & > * {
            z-index: 1;
        }

        .Logo {
            bottom: 4px;
            position: absolute;
        }

        .Header-Overlap {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.01);
            z-index: 0;
        }

        &.closed {
            .Header-Overlap {
                display: none;
            }
        }
    }
}