@import '../node_modules/normalize.scss/normalize';
@import '../constants/variables';
@import '../utils/mixins';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $white;
    color: $black;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

body {
    scroll-behavior: smooth;
}

a {
    @include transition(color 300ms);
}

a, a:visited {
    color: $red;
}

a:active {
    color: $brightRed;
}

.darkColorScheme {
    background: $black;
    color: $white;

    a, a:visited {
        color: $blue;
    }

    a:active {
        color: $lightBlue;
    }
}