@import '../../constants/variables';
@import '../../utils/mixins';

.Footer {
    position: relative;
    z-index: 1;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: 24px 0;
    background: $white;
}

@media only screen and (min-width: 1920px) {
    .Footer {
        padding: 32px 0;
    }
}