@import '../../constants/variables';
@import '../../utils/mixins';

.DisplayBackground {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(stretch);
    @include transform(scale3d(0.35, 0.35, 1) translate3d(21.43vw, -190px, 0));
    @include transform-origin(left center);
    @include transitionTransform(300ms);

    .CodeBackground {
        position: relative;
        margin-top: -25px;
        margin-left: -25px;
        border: 25px solid $black;
        border-bottom-width: 50px;
        border-radius: 40px;
        @include transition(border-radius 300ms);
    }

    .CodeBackground::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: $darkGray;
        bottom: -37px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .DisplayStand {
        margin-top: -5px;
    }

    &.vertical {
        .DisplayStand {
            display: none;
        }
    }

    &.fullSize {
        .CodeBackground {
            filter: blur(2px);
            border-radius: 0;
        }
        .CodeBackground::after, .DisplayStand {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .DisplayBackground {
        @include transform-origin(bottom center);
    }
}