@import '../../utils/mixins';

.IntroSection {
    padding-left: 50%;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);

    p {
        margin: 0;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {
    .IntroSection {
        padding-left: 24px;
        padding-bottom: 73%;
    }
}