@import '../../utils/mixins';

.IntroSection {
    padding-left: 50%;
    text-align: center;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);

    p {
        margin: 0 0 12px;
    }

    .IntroSection-ScrollDown {
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include animation(UpDown 2s infinite);
    }
}

@media only screen and (max-width: 600px) {
    .IntroSection {
        padding-left: 24px;
        padding-bottom: 60%;
    }
}

@media only screen and (max-height: 420px) {
    .IntroSection {
        @include justify-content(flex-start);

        h3 {
            margin-top: 12px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-height: 420px) {
    .IntroSection {
        h3 {
            margin-top: 64px;
        }
    }
}

@include keyframes(UpDown) {
    0% {
        @include transform(translate3d(0, 0, 0));
    }
    50% {
        @include transform(translate3d(0, 12px, 0));
    }
    100% {
        @include transform(translate3d(0, 0, 0));
    }
}