@import '../../constants/variables';
@import '../../utils/mixins';

.AboutProjectSection {
    overflow: hidden;
    z-index: 1;
    background: $white;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-around);

    .AboutProjectSection-TechLogos {
        @include flexbox();
        @include justify-content(space-around);
    }

    .AboutProjectSection-Content {
        max-width: 1000px;
        text-align: center;
        @include align-self(center);

        p {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .AboutProjectSection {
        padding: 54px 12px 12px;

        h3 {
            font-size: 28px;
            margin-bottom: 18px;
        }

        p {
            font-size: 16px;
        }
    }
}